@use "../../styles/variables.scss" as v;

.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 840px;
    height: 100vh;
    background-color: white;
    padding: 28px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    z-index: 1000;

    .header {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .title {
            font-size: v.$font-3xl;
        }

        .closeBtn {
            background: transparent;
            border: none;

            .closeIcon {
                width: 30px;
                height: 30px;
                color: black;
                transition: 0.3s;
            }
        }

        .closeBtn:hover>.closeIcon {
            color: v.$primary-orange;
        }
    }

    .content {
        max-height: 700px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .footer {
        padding: 18px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        border: 1px solid v.$primary-white;
        border-radius: v.$radius-lg;

        .totalTitle {
            font-size: v.$font-3xl;
        }

        .total {
            display: flex;
            flex-direction: column;
            gap: 24px;

            .totalRow {
                display: flex;
                justify-content: space-between;

                span {
                    font-size: v.$font-xl;
                }
            }

            .line {
                width: 100%;
                border-bottom: 2px solid v.$primary-white;
            }
        }

        .checkoutBtn {
            margin: 0 auto;
            padding: 16px 48px;
            max-width: 310px;
            width: 100%;
            // height: 56px;
            font-size: v.$font-lg;
            color: white;
            background-color: v.$primary-orange;
            border: none;
            border-radius: v.$radius-md;
        }

        .checkoutBtn:disabled {
            background-color: v.$primary-orange-disabled;
            cursor: not-allowed;
        }
    }
}