@use "../../styles/variables.scss" as v;

.cart {
    height: 100vh;
    padding: 22px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    .header {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .title {
            font-size: v.$font-2xl;
        }
    }

    .content {
        max-height: 700px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .footer {
        padding: 18px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        border: 1px solid v.$primary-white;
        border-radius: v.$radius-lg;

        .totalTitle {
            font-size: v.$font-2xl;
        }

        .total {
            display: flex;
            flex-direction: column;
            gap: 24px;

            .totalRow {
                display: flex;
                justify-content: space-between;

                span {
                    font-size: v.$font-lg;
                }
            }

            .line {
                width: 100%;
                border-bottom: 2px solid v.$primary-white;
            }
        }
    }
}

@media (max-width: v.$laptop) {

}

@media (max-width: v.$tablet) {
    
}

@media (max-width: v.$small-tablet) {
    
}

@media (max-width: v.$mobile) {
    
}