@use "../../../styles/variables.scss" as v;

.sectionContainer {
    display: flex;
    flex-direction: column;
    gap: 18px;

    .sectionTitle {
        font-size: v.$font-xl;
    }
}

.priceFilter {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .priceContent {
        display: flex;
        justify-content: space-between;
        gap: 12px;


        .priceInfo {
            display: flex;
            flex-direction: column;
            gap: 8px;
            // align-items: center;

            .priceInput {
                padding: 12px 16px;
                max-width: 140px;
                font-size: v.$font-base;
                border: 2px solid v.$primary-white;
                border-radius: v.$radius-md;
            }
        }
    }

    .priceInputs {
        display: flex;
        justify-content: space-between;
        accent-color: v.$primary-orange;
    }

    .rangeContainer {
        position: relative;
        width: 100%;
        height: 6px;

        .rangeTrack {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            height: 6px;
            background-color: #ccc;
            border-radius: 3px;
            z-index: 0;
        }

        .rangeTrackHighlight {
            position: absolute;
            height: 6px;
            background-color: v.$primary-orange;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 3px;
            z-index: 1;
        }

        .range {
            position: absolute;
            width: 100%;
            pointer-events: none;
            -webkit-appearance: none;
            background: transparent;
            accent-color: v.$primary-orange;
            z-index: 2;

            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                pointer-events: all;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background: white;
                border: 2px solid v.$primary-orange;
                cursor: pointer;
                position: relative;
                top: 25%;
                transform: translateY(-25%);
            }

            &::-moz-range-thumb {
                pointer-events: all;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background: white;
                border: 2px solid v.$primary-orange;
                cursor: pointer;
            }

            &::-ms-thumb {
                pointer-events: all;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background: white;
                border: 2px solid v.$primary-orange;
                cursor: pointer;
            }
        }
    }
}