@use "../../../styles/variables.scss" as v;

.sectionContainer {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.sectionTitle {
    font-size: v.$font-xl;
}

.ratingContent {
    display: flex;
    align-items: center;
    gap: 12px;
}

@media (max-width: v.$tablet) {
    .rangeContainer {
        display: none;
    }

    .sectionTitle {
        font-size: v.$font-lg;
    }

    .ratingLabel {
        font-size: v.$font-base;
    }

    .priceInput {
        font-size: v.$font-sm;
    }
}

@media (max-width: v.$small-tablet) {
    .sectionTitle {
        font-size: v.$font-base;
    }

    .ratingLabel {
        font-size: v.$font-sm;
    }

    // .priceInput {
    //     padding: 8px 12px;
    // }
}