@use "../../../styles/variables.scss" as v;

.header {
    width: 100%;
    padding: 20px 0 30px 0;
    background-color: white;
}

.title {
    font-size: v.$font-2xl;
    padding: 0 20px 20px 136px;
}

.line {
    width: 100%;
    border-bottom: 2px solid v.$primary-white;
}

@media (max-width: v.$laptop) {
    // .header {
    //     padding: 15px 0 25px 0;
    // }

    .title {
        padding: 0 10px 10px 126px;
    }
}

@media (max-width: v.$laptop) {
    .title {
        padding: 0 5px 10px 121px;
    }
}