// colors
$primary-gold: rgba(163, 164, 87);
$primary-gray: rgba(110, 111, 116);
$primary-orange: rgba(225, 98, 73);
$primary-orange-light: rgb(236, 111, 85);
$primary-orange-disabled: rgba(225, 98, 73, 0.45);
$primary-black: rgba(42, 42, 42);
$secondary-black: rgba(61, 61, 61);
$primary-white: rgba(234, 234, 234);
$secondary-white: rgba(246, 246, 246);
$bg-image: rgb(245, 245, 245);

// font sizes
$font-xs: 0.75rem;
$font-sm: 0.875rem;
$font-base: 1rem;
$font-lg: 1.125rem;
$font-xl: 1.25rem;
$font-2xl: 1.5rem;
$font-3xl: 1.875rem;
$font-4xl: 2.25rem;
$font-5xl: 3rem;

// font weights
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 800;
$font-black: 900;

// border radius
$radius-sm: 4px;
$radius-md: 8px;
$radius-lg: 12px;
$radius-xl: 16px;
