.layout {
    // display: flex;
}

.header {
    display: flex;
}

.main  {
    flex: 1;
    // padding: 0 40px 40px 170px;
    padding: 0 20px 30px 136px;
}

.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
}