@use "../../styles/variables.scss" as v;

.layout {
    // display: flex;
    // max-width: 1920px;
    // margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
}

.main  {
    flex: 1;
    // padding: 0 40px 40px 170px;
    padding: 0 30px 30px 136px;
}

.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
}

@media (max-width: v.$laptop) {
    .main {
        // padding: 0 30px 20px 126px;
        padding: 0 30px 20px 120px;
    }
}

@media (max-width: v.$tablet) {
    .main {
        // padding: 0 30px 10px 116px;
        padding: 0 20px 20px 20px;
    }
}

@media (max-width: v.$small-tablet) {
    .main {
        padding: 15px;
    }
}

@media (max-width: v.$mobile) {
    .main {
        // padding: 0 20px 10px 100px;
        padding: 12px;
    }
}