@use "../../../styles/variables.scss" as v;

.button {
    cursor: pointer;
    font-size: v.$font-base;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-align: center;
    border: none;
    border-radius: v.$radius-lg;
    background: transparent;
}

.cart {
    padding: 12px;
    border: 1px solid v.$primary-white;

    svg {
        width: 18px;
        height: 18px;
        fill: transparent;
    }

    &:hover {
        color: white;
        background-color: v.$primary-orange;
        border-color: v.$primary-orange;
    }
}

.counter {
    width: 42px;
    height: 44px;
    color: v.$primary-orange;
    font-size: v.$font-xl;
}

.close {
    svg {
        width: 30px;
        height: 30px;
        color: black;
        transition: 0.3s;
    }

    &:hover>svg {
        color: v.$primary-orange;
    }
}

.remove {
    justify-content: start;
    color: v.$primary-gray;

    svg {
        width: 20px;
        height: 20px;
    }
}

.checkout,
.product {
    padding: 16px 48px;
    max-width: 310px;
    width: 100%;
    color: white;
    background-color: v.$primary-orange;
}

.checkout {
    margin: 0 auto;

    &:disabled {
        background-color: v.$primary-orange-disabled;
        cursor: not-allowed;
    }
}

.product {
    font-size: v.$font-lg;

    &:hover {
        background-color: v.$primary-orange-light;
    }
}

.openFilter {
    display: none;
    align-items: center;
    gap: 4px;
    min-width: 95px;
    padding: 12px;
    font-size: v.$font-xs;
    border: 1px solid v.$primary-white;

    svg {
        width: 12px;
        height: 12px;
    }
}

@media (max-width: v.$laptop) {
    .product {
        max-width: 210px;
        font-size: v.$font-base;
    }
}

@media (max-width: v.$tablet) {
    .openFilter {
        display: flex;
        padding: 6px;
    }

    .cart {
        padding: 10px;
    }

    .counter {
        width: 38px;
        height: 40px;
        font-size: v.$font-lg;
    }

    .close {
        svg {
            width: 24px;
            height: 24px;
        }
    }

    .remove {
        font-size: v.$font-sm;
        gap: 4px;

        svg {
            width: 16px;
            height: 16px;
        }
    }

    .checkout {
        padding: 10px;
        font-size: v.$font-sm;
    }

    .product {
        max-width: 145px;
        height: 44px;
        padding: 4px 10px;
        font-size: v.$font-sm;
    }
}

@media (max-width: v.$small-tablet) {
    .button {
        border-radius: v.$radius-md;
    }

    .cart {
        padding: 8px;
        font-size: v.$font-sm;

        svg {
            width: 16px;
            height: 16px;
        }
    }

    .counter {
        width: 30px;
        height: 32px;
        font-size: v.$font-base;
    }

    .close {
        svg {
            width: 20px;
            height: 20px;
        }
    }

    .remove {
        font-size: v.$font-xs;
        gap: 4px;

        svg {
            width: 14px;
            height: 14px;
        }
    }

    .checkout {
        font-size: v.$font-xs;
    }

    .product {
        height: 36px;
        font-size: v.$font-xs;
    }
}