@use "../../styles/variables" as v;

.container {
    // padding: 28px;
    padding: 22px;
    // width: 340px;
    width: 340px;
    // min-height: 400px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border: 1px solid v.$primary-white;
    border-radius: v.$radius-lg;

}

.title {
    font-size: v.$font-2xl;
    // font-weight: v.$font-semibold;
}

.line {
    width: 100%;
    border-bottom: 2px solid v.$primary-white;
}

@media (max-width: v.$laptop) {
    .container {
        padding: 16px;
        gap: 20px;
        width: 320px;
    }
}

@media (max-width: v.$tablet) {
    .container {
        padding: 0;
        max-width: 440px;
        width: 100%;
        border: none;
        gap: 20px;
    }

    .title {
        font-size: v.$font-xl;
    }
}

@media (max-width: v.$small-tablet) {
    .container {
        padding: 0;
        border: none;
        max-width: 310px;
        width: 100%;
        gap: 12px;
    }

    .title {
        font-size: v.$font-lg;
    }
}

@media (max-width: v.$mobile) {}