@use "../../styles/variables" as v;

.container {
    padding: 28px;
    width: 380px;
    // min-height: 400px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border: 1px solid v.$primary-white;
    border-radius: v.$radius-lg;

    .title {
        font-size: v.$font-3xl;
        // font-weight: v.$font-semibold;
    }

    .sectionContainer {
        display: flex;
        flex-direction: column;
        gap: 18px;

        .sectionTitle {
            font-size: v.$font-2xl;
        }

        .categoryContainer {
            display: flex;
            flex-wrap: wrap;
            gap: 14px;

            .categoryLabel {
                font-size: v.$font-xl;
                font-weight: v.$font-medium;
                display: flex;
                gap: 6px;
                cursor: pointer;

                .checkbox {
                    width: 18px;
                    accent-color: v.$primary-orange;
                }
            }
        }

        .priceFilter {
            display: flex;
            flex-direction: column;
            gap: 24px;

            .priceContent {
                display: flex;
                justify-content: space-between;
                gap: 12px;


                .priceInfo {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    // align-items: center;

                    .priceInput {
                        padding: 12px 16px;
                        max-width: 140px;
                        font-size: v.$font-lg;
                        border: 2px solid v.$primary-white;
                        border-radius: v.$radius-md;
                    }
                }
            }

            .priceInputs {
                display: flex;
                justify-content: space-between;
                accent-color: v.$primary-orange;
            }

            .rangeContainer {
                position: relative;
                width: 100%;
                height: 6px;

                .rangeTrack {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 100%;
                    height: 6px;
                    background-color: #ccc;
                    border-radius: 3px;
                    z-index: 0;
                }

                .rangeTrackHighlight {
                    position: absolute;
                    height: 6px;
                    background-color: v.$primary-orange;
                    top: 50%;
                    transform: translateY(-50%);
                    border-radius: 3px;
                    z-index: 1;
                }

                .range {
                    position: absolute;
                    width: 100%;
                    pointer-events: none;
                    -webkit-appearance: none;
                    background: transparent;
                    accent-color: v.$primary-orange;
                    z-index: 2;

                    &::-webkit-slider-thumb {
                        -webkit-appearance: none;
                        pointer-events: all;
                        width: 16px;
                        height: 16px;
                        border-radius: 50%;
                        background: white;
                        border: 2px solid v.$primary-orange;
                        cursor: pointer;
                        position: relative;
                        top: 25%;
                        transform: translateY(-25%);
                    }

                    &::-moz-range-thumb {
                        pointer-events: all;
                        width: 16px;
                        height: 16px;
                        border-radius: 50%;
                        background: white;
                        border: 2px solid v.$primary-orange;
                        cursor: pointer;
                    }

                    &::-ms-thumb {
                        pointer-events: all;
                        width: 16px;
                        height: 16px;
                        border-radius: 50%;
                        background: white;
                        border: 2px solid v.$primary-orange;
                        cursor: pointer;
                    }
                }
            }
        }

        .ratingContent {
            display: flex;
            align-items: center;
            gap: 12px;

            .ratingLabel {
                font-size: v.$font-lg;
                font-weight: v.$font-semibold;
            }

            .ratingSelect {
                padding: 12px 14px;
                font-size: v.$font-lg;
                border: 1px solid v.$primary-white;
                border-radius: v.$radius-md;
                background-color: transparent;
                outline: none;
            }
        }
    }
}

.line {
    width: 100%;
    border-bottom: 2px solid v.$primary-white;
}