@use "../../styles/variables" as v;

.container {
    // padding: 28px;
    padding: 22px;
    // width: 340px;
    width: 340px;
    // min-height: 400px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border: 1px solid v.$primary-white;
    border-radius: v.$radius-lg;

    .title {
        font-size: v.$font-2xl;
        // font-weight: v.$font-semibold;
    }

    .sectionContainer {
        display: flex;
        flex-direction: column;
        gap: 18px;

        .sectionTitle {
            font-size: v.$font-xl;
        }

        .ratingContent {
            display: flex;
            align-items: center;
            gap: 12px;

            .ratingLabel {
                font-size: v.$font-base;
                font-weight: v.$font-semibold;
            }

            .ratingSelect {
                padding: 12px 14px;
                font-size: v.$font-base;
                border: 1px solid v.$primary-white;
                border-radius: v.$radius-md;
                background-color: transparent;
                outline: none;
            }
        }
    }
}

.line {
    width: 100%;
    border-bottom: 2px solid v.$primary-white;
}

@media (max-width: v.$laptop) {
    .container {
        padding: 18px;
        gap: 20px;
        width: 320px;
    }
}

@media (max-width: v.$tablet) {

}

@media (max-width: v.$small-tablet) {
    .container {
        padding: 0;
        border: none;
        max-width: 310px;
        width: 100%;
    }
}