@use "../../styles/variables.scss" as v;

.container {
    padding: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    border: 1px solid v.$primary-white;
    border-radius: v.$radius-lg;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.navLink {
    text-decoration: none;
    color: inherit;
    display: block;
}


/* Product Card */
.product {
    display: flex;
    flex-direction: column;
    align-items: center;

    .image {
        width: 100%;
        max-width: 180px;
        height: auto;
        aspect-ratio: 1 / 1;
        object-fit: contain;
    }

    .content {
        flex-direction: column;
    }

    .line {
        width: 100%;
        border-bottom: 2px solid v.$primary-white;
    }
}

/* Cart Item Card */
.cart {
    width: 100%;
    flex-direction: row;
    align-items: center;

    .image {
        width: 100px;
        height: 100px;
        object-fit: contain;
    }

    .content {
        flex-direction: row;
        justify-content: space-between;
    }

    .line {
        display: none;
    }
}

/* ProductDetails */
.productDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
    border: none;

    .image {
        padding: 80px;
        max-width: 680px;
        object-fit: contain;
        background-color: v.$bg-image;
    }

    .content {
        max-width: 750px;
        flex-direction: column;
        gap: 24px;
    }

    .line {
        display: none;
    }
}

@media (max-width: v.$laptop) {
    .container {
        padding: 16px;
    }

    .productDetails > .image {
        padding: 60px;
        max-width: 520px;
    }
}

@media (max-width: v.$tablet) {
    .product > .image {
        max-width: 140px;
    }

    .cart > .image {
        max-width: 80px;
        height: 80px;
    }

    .productDetails {
        padding: 0 0 60px;
        flex-direction: column;
    }

    .productDetails > .image {
        max-width: 100%;
        max-height: 450px;
        object-fit: cover;
    }

    .productDetails > .content {
        gap: 12px;
    }
}
