@import "../../styles/variables.scss";

.cardContainer {
    max-width: 250px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border: 1px solid $primary-gray;
    border-radius: $radius-md;

    .cardImage {
        width: 200px;
        height: 180px;
        object-fit: contain;
    }
    
    .cardTitle {
        font-size: $font-xl;
    }

    .cardContent {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .cardInfo {
        display: flex;
        justify-content: space-between;
    }

    .cardPrice {
        color: $primary-gray;
    }

    .cardRating {
        color: $primary-gold;
    }
}

.navLink {
  text-decoration: none;
  color: inherit;
  display: block;
}