// @import "../../styles/variables.scss";
@use "../../styles/variables" as v;

.container {
    max-width: 250px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border: 1px solid v.$primary-gray;
    border-radius: v.$radius-md;

    .image {
        width: 200px;
        height: 180px;
        object-fit: contain;
    }
    
    .title {
        font-size: v.$font-xl;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .info {
        display: flex;
        justify-content: space-between;
    }

    .price {
        color: v.$primary-gray;
    }

    .rating {
        color: v.$primary-gold;
    }
}

.navLink {
  text-decoration: none;
  color: inherit;
  display: block;
}