@use "../../styles/variables.scss" as v;

.container {
    padding: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    border: 1px solid v.$primary-white;
    border-radius: v.$radius-lg;
}

.image {
    width: 180px;
    height: 180px;
    object-fit: contain;
}

.line {
    width: 100%;
    border-bottom: 2px solid v.$primary-white;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.navLink {
    text-decoration: none;
    color: inherit;
    display: block;
}