// @import "../../styles/variables.scss";
@use "../../styles/variables" as v;

.container {
    // max-width: 280px;
    width: 280px;
    // width: 100%;
    padding: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    border: 1px solid v.$primary-white;
    border-radius: v.$radius-lg;

    .image {
        // width: 200px;
        // height: 180px;
        width: 180px;
        height: 180px;
        object-fit: contain;
    }
    
    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 12px;

        .title {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            // color: v.$primary-black;
            font-size: v.$font-xl;
        }

        .info {
            display: flex;
            justify-content: space-between;

            .price {
                font-size: v.$font-xl;
                font-weight: v.$font-medium;
                color: v.$primary-gray;
            }
        
            .rating {
                display: flex;
                align-items: center;
                gap: 4px;
                font-size: v.$font-xl;
                color: v.$primary-gold;

                .starIcon {
                    width: 20px;
                    height: 20px;
                    color: v.$primary-gold;
                    fill: v.$primary-gold;
                }
            }
        }

        .cartBtn {
            padding: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            font-size: v.$font-lg;
            border: 2px solid v.$primary-white;
            border-radius: v.$radius-md;
            background-color: transparent;
            transition: 0.3s;

            .cartIcon {
                width: 18px;
                height: 18px;
                fill: transparent;
            }
        }

        .cartBtn:hover {
            color: white;
            background-color: v.$primary-orange;
            fill: white;
            // border: none;
        }
    }
}

.navLink {
  text-decoration: none;
  color: inherit;
  display: block;
}

.line {
    width: 100%;
    border-bottom: 2px solid v.$primary-white;
}