@use "../../styles/variables.scss" as v;

.container {
    padding: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    border: 1px solid v.$primary-white;
    border-radius: v.$radius-lg;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.navLink {
    text-decoration: none;
    color: inherit;
    display: block;
}


/* Product Card */
.product {
    // width: 280px;

    flex-direction: column;
    align-items: center;

    .image {
        width: 180px;
        height: 180px;
        object-fit: contain;
    }

    .content {
        flex-direction: column;
    }

    .line {
        width: 100%;
        border-bottom: 2px solid v.$primary-white;
    }
}

/* Cart Item Card */
.cart {
    width: 100%;
    flex-direction: row;
    align-items: center;

    .image {
        width: 100px;
        height: 100px;
        object-fit: contain;
    }

    .content {
        flex-direction: row;
        justify-content: space-between;
    }

    .line {
        display: none;
    }
}

/* ProductDetails */
.productDetails {
    // padding: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;

    .image {
        // width: 500px;
        // height: 400px;

        padding: 80px;
        width: 680px;
        height: 580px;
        object-fit: contain;
        background-color: v.$bg-image;
    }

    .content {
        max-width: 750px;
        flex-direction: column;
        gap: 24px;
    }

    .line {
        display: none;
    }
}