@use "../../styles/variables.scss" as v;

.cartItemCard {
    padding: 18px;
    max-width: 800px;
    height: 150px;
    display: flex;
    flex-direction: row;

    .content {
        display: flex;
        flex-direction: row;
    }

    .details {
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .title {
        font-size: v.$font-xl;
    }

    .removeBtn {
        display: flex;
        align-items: center;
        gap: 4px;
        background: transparent;
        border: none;
        text-align: start;
        font-size: v.$font-xl;
        color: v.$primary-gray;

        .removeIcon {
            width: 20px;
            height: 20px;
        }
    }

    .itemControls {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: end;
        gap: 12px;

        .quantityControls {
            padding: 5px 12px;
            width: 100%;
            height: 44px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 16px;
            border-radius: v.$radius-lg;
            background-color: v.$quantity-bg;

            .minusBtn,
            .plusBtn {
                width: 42px;
                height: 44px;
                color: v.$primary-orange;
                font-size: v.$font-xl;
                font-weight: v.$font-semibold;
                border: none;
                background: transparent;
            }

            .count {
                color: v.$primary-orange;
                font-size: v.$font-xl;
            }
        }
    }

    .price {
        color: v.$primary-gray;
        font-size: v.$font-xl;
    }
}