@use "../../styles/variables.scss" as v;

.productCard {
    width: 245px;

    .title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: v.$font-lg;
    }

    .info {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .price {
            font-size: v.$font-lg;
            font-weight: v.$font-medium;
            color: v.$primary-gray;
        }

        .rating {
            display: flex;
            align-items: center;
            gap: 4px;
            font-size: v.$font-lg;
            color: v.$primary-gold;

            .starIcon {
                width: 20px;
                height: 20px;
                color: v.$primary-gold;
                fill: v.$primary-gold;
            }
        }
    }

    .cartBtn {
        padding: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        font-size: v.$font-base;
        border: 2px solid v.$primary-white;
        border-radius: v.$radius-lg;
        background-color: transparent;
        transition: 0.3s;

        .cartIcon {
            width: 18px;
            height: 18px;
            fill: transparent;
        }
    }

    .cartBtn:hover {
        color: white;
        background-color: v.$primary-orange;
        fill: white;
        border-color: v.$primary-orange;
    }

    .quantityControls {
        padding: 5px 12px;
        width: 100%;
        height: 44px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        border-radius: v.$radius-lg;
        background-color: v.$quantity-bg;

        .minusBtn,
        .plusBtn {
            width: 42px;
            height: 44px;
            color: v.$primary-orange;
            font-size: v.$font-xl;
            font-weight: v.$font-semibold;
            border: none;
            background: transparent;
        }

        .count {
            color: v.$primary-orange;
            font-weight: v.$font-semibold;
            font-size: v.$font-xl;
        }
    }

}