@use "../../styles/variables.scss" as v;

.header {
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: v.$font-2xl;
}

.body {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media (max-width: v.$tablet) {
    .modal, .overlay {
        display: flex;
    }

    .title {
        font-size: v.$font-2xl;
    }
}

@media (max-width: v.$small-tablet) {
    .body {
        padding-top: 0;
    }

    .title {
        font-size: v.$font-xl;
    }
}