@use "../../styles/variables.scss" as v;

.header {
    display: flex;
    justify-content: space-between;
}

.body {
    padding-top: 18px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media (max-width: v.$tablet) {
    .modal, .overlay {
        display: flex;
    }
}