@use "../../styles/variables.scss" as v;

.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    // width: 100%;
    // max-height: 90%;
    max-width: 320px;
    width: 100%;
    background-color: #fff;
    border-top-left-radius: v.$radius-lg;
    border-top-right-radius: v.$radius-lg;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 18px;
    overflow-y: auto;
}

.header {
    display: flex;
    justify-content: space-between;
}

.body {
    display: flex;
    flex-direction: column;
    gap: 12px;
}