@use "../../styles/variables.scss" as v;

.content {
    position: relative;
    display: flex;
    align-items: center;
}

.searchInput {
    max-width: 340px;
    width: 100%;
    padding: 12px 40px;
    font-size: v.$font-base;
    border: 2px solid v.$primary-white;
    border-radius: v.$radius-md;
    outline: none;
}

.searchIcon {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 12px;
    color: v.$primary-gray;
    fill: white;
}

.filterSortBtn {
    display: none;
}

@media (max-width: v.$tablet) {
    .container {
        display: flex;
        gap: 16px;
    }
}