@use "../../styles/variables.scss" as v;

.content {
    position: relative;
    display: flex;
    align-items: center;
}

.searchInput {
    max-width: 340px;
    width: 100%;
    padding: 12px 40px;
    font-size: v.$font-base;
    border: 2px solid v.$primary-white;
    border-radius: v.$radius-md;
    outline: none;
}

.searchIcon {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 12px;
    color: v.$primary-gray;
    fill: white;
}

.filterSortBtn {
    display: none;
}

@media (max-width: v.$tablet) {
    .container {
        padding-left: 20px;
        display: flex;
        justify-content: space-between;
        gap: 16px;
    }

    .searchInput {
        max-width: 410px;
        padding: 10px 30px;
        font-size: v.$font-sm;
    }

    .searchIcon {
        width: 16px;
        height: 16px;
    }
}

@media (max-width: v.$small-tablet) {
    .searchInput {
        padding: 8px 20px;
        font-size: v.$font-sm;
    }

    .searchIcon {
        width: 14px;
        height: 14px;
        left: 6px;
    }
}

@media (max-width: v.$mobile) {
    .container {
        padding-left: 0;
    }

    .searchInput {
        padding: 6px 20px;
        font-size: v.$font-xs;
    }

    .searchIcon {
        width: 12px;
        height: 12px;
    }
}