@use "../../../styles/variables.scss" as v;

.badge {
    position: absolute;
    top: -10px;
    right: 2px;
    min-width: 20px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: v.$primary-orange;
    color: white;
    font-size: v.$font-xs;
    font-weight: v.$font-semibold;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
