@use "../../../styles/variables.scss" as v;

.badge {
    position: absolute;
    top: -10px;
    right: 2px;
    min-width: 18px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: v.$primary-orange;
    color: white;
    font-size: v.$font-xs;
    font-weight: v.$font-semibold;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

@media (max-width: v.$tablet) {
    .badge {
        top: -8px;
        min-width: 14px;
        width: 16px;
        height: 16px;
    }
}