@use "../../styles/variables.scss" as v;

.container {
    display: flex;
    align-items: start;
    gap: 24px;
}

.filtersSidebar {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.content {
    width: 100%;
    min-width: 0;
}

.productsControls {
    padding: 22px;
    border: 1px solid v.$primary-white;
    border-radius: v.$radius-lg v.$radius-lg 0 0;
}

@media (max-width: v.$laptop) {
    .productsControls {
        padding: 16px;
        gap: 20px;
    }
}

@media (max-width: v.$tablet) {
    .filtersSidebar {
        display: none;
    }

    .productsControls {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border: none;
        border-bottom: 2px solid v.$primary-white;
    }
}

@media (max-width: v.$small-tablet) {
    .productsControls {
        padding: 12px;
    }
}
