@use "../../../styles/variables.scss" as v;

.notFound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: v.$font-2xl;
}

.product h3 {
    padding: 60px 20px;
    color: v.$primary-gray;
}

/* Page */
.page {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 10;
}

.page h3 {
    font-size: v.$font-5xl;
    color: black;
}

/* Error */
.error {
    padding-top: 120px;
    color: red;
}

@media (max-width: v.$small-tablet) {
    .product h3, .error h3 {
        font-size: v.$font-xl;
    }

    .page h3 {
        font-size: v.$font-2xl;
    }
}