@use "../../styles/variables.scss" as v;

.productDetails {
    max-width: 1600px;
    width: 100%;
    // display: flex;
    // justify-content: space-between;
}

.title {
    font-size: v.$font-2xl;
}

.ratingContent {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: v.$font-lg;
    color: v.$primary-gray;
}

.starIcon {
    width: 24px;
    height: 24px;
    color: v.$primary-gold;
    fill: v.$primary-gold;
}

.rating {
    color: v.$primary-gold;
}

.price {
    font-size: v.$font-xl;
}

.description {
    font-size: v.$font-xl;
}

.line {
    width: 100%;
    border-bottom: 2px solid v.$primary-white;
}

.productControls {
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.quantityControls {
    padding: 5px 12px;
    max-width: 210px;
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    border-radius: v.$radius-lg;
    background-color: v.$quantity-bg;
}

.count {
    color: v.$primary-orange;
    font-weight: v.$font-semibold;
    font-size: v.$font-xl;
}

.delivery {
    display: flex;
    flex-direction: column;
}

.deliveryItem {
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid v.$primary-white;
    // border-radius: v.$radius-md;

    &:first-child {
        border-top-left-radius: v.$radius-md;
        border-top-right-radius: v.$radius-md;
    }

    &:last-child {
        border-top: none;
        border-bottom-left-radius: v.$radius-md;
        border-bottom-right-radius: v.$radius-md;
    }
}

.deliveryIcon {
    width: 40px;
    height: 40px;
}

.deliveryDetails {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.deliveryTitle {
    font-size: v.$font-xl;
}

.deliveryDescription {
    font-size: v.$font-lg;
}

@media (max-width: v.$tablet) {
    .title {
        font-size: v.$font-xl;
    }

    .ratingContent {
        font-size: v.$font-base;
    }

    .price {
        font-size: v.$font-lg;
    }

    .description {
        font-size: v.$font-lg;
    }

    .quantityControls {
        max-width: 170px;
        padding: 4px 10px;
    }

    .minusBtn,
    .plusBtn {
        width: 32px;
        height: 34px;
    }

    .count {
        font-size: v.$font-lg;
    }

    .productBtn {
        padding: 12px 40px;
        font-size: v.$font-base;
    }

    .deliveryItem {
        padding: 12px;
        // justify-content: space-between;
        gap: 8px;
    }

    .deliveryIcon {
        // width: 30px;
        // height: 30px;
    }

    .deliveryTitle {
        font-size: v.$font-lg;
    }

    .deliveryDescription {
        font-size: v.$font-base;
    }
}

@media (max-width: v.$mobile) {
    .productControls {
        flex-direction: column;
    }

    .quantityControls {
        max-width: 310px;
    }
}