@use "../../../styles/variables.scss" as v;

.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    // display: flex;
    display: none;
    flex-direction: column;
    gap: 12px;
    padding: 22px;
    overflow-y: auto;
}

/* Modal Cart*/
.cart {
    right: 0;
    max-width: 840px;
    width: 100%;
    display: flex;
    border-top-left-radius: v.$radius-lg;
}

/* Modal Filter */
.filter {
    left: 0;
    max-width: 340px;
    width: 100%;
    border-top-right-radius: v.$radius-lg;
}

@media (max-width: v.$laptop) {
    .modal {
        padding: 16px;
    }

    .cart {
        max-width: 680px;
    }
}

@media (max-width: v.$tablet) {
    .cart {
        max-width: 640px;
    }

    .filter {
        display: flex;
        max-width: 440px;
    }
}

@media (max-width: v.$small-tablet) {
    .filter {
        max-width: 340px;
    }
}

@media (max-width: v.$mobile) {
    .cart {
        // max-width: calc(840px - 10%);
        // max-width: 380px;
        border-radius: 0;
    }
}