@use "../../styles/variables.scss" as v;

.sort {
    // padding: 28px;
    padding: 28px;
    // width: 380px;
    width: 340px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border: 1px solid v.$primary-white;
    border-radius: v.$radius-lg;

    .title {
        font-size: v.$font-2xl;
    }

    .sortControls {
        display: flex;
        justify-content: space-between;

        .sortItem {
            display: flex;
            flex-direction: column;
            gap: 12px;

            .sortTitle {
                font-size: v.$font-xl;
            }

            .sortSelect {
                padding: 12px 14px;
                font-size: v.$font-base;
                border: 1px solid v.$primary-white;
                border-radius: v.$radius-md;
                background-color: transparent;
                outline: none;
            }
        }
    }
}

.line {
    width: 100%;
    border-bottom: 2px solid v.$primary-white;
}

@media (max-width: v.$laptop) {
    .sort {
        padding: 16px;
        gap: 20px;
        width: 320px;
    }
}

@media (max-width: v.$tablet) {
    .sort {
        padding: 0;
        max-width: 310px;
        width: 100%;
        border: none;
    }
}